.login-background{
    // //background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    // background-image: url(../../assets/images/bg.jpg) top center / cover no-repeat;;
    // height: 100vh;
    // background-position: center;
    background: url(../../assets/images/bg.jpg)
    top center / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;

    .login-container{
        width: 400px;
        height: 480px;
        margin: auto;
        border-radius: 15px;
        padding: 20px;
        background-color: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        font-family: cursive;
        .login-content{
            border-radius: 15px;
            height: 420px;
            background: rgba(255, 255, 255, 0.3);
        }
        .text-login{    
            text-align: center;
            font-weight: 600;
            font-size: 24px;
            padding-top: 10px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .input-login{
            margin: 10px 0;;
        }
        .btn-login{
            width: 100%;
            margin: 10px 0;
            height: 40px;
            border-radius: 20px;
            outline: none;
            border: none;
            background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
            color: aliceblue;

        }
        .forgot-login{
            font-size: 12px;
        }
        .social-login{
            display: flex;
            text-align: center;
            justify-content: center;
            margin-top: 10px;
            .google{
                font-size: 30px;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                justify-content: center;
                align-items: center;
                background: red;
                color: white;
                display: flex;
                margin-right: 10px;
            }
            .fb{
                font-size: 30px;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                justify-content: center;
                align-items: center;
                background: #307aaf;
                color: white;
                display: flex;
                margin-right: 10px;

            }
            .insta{
                font-size: 30px;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                justify-content: center;
                align-items: center;
                color: white;
                display: flex;
                background: #f09433; 
                background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
                background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
                background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
            }
        }
    }
}