
.home-header-container{
    height: 85px;
    width: 100%;
    padding: 0 40px;
    position: sticky;
    top: 0;
    background: rgb(255, 255, 255);
    z-index: 100;
    .home-header-content{
        width: 100%;
        height: 100%;
        display: flex;

        .left-content{
            width: 20%;
            display: flex;
            align-items: center;

            .header-logo{
                width: 100%;
                cursor: pointer;
                transform: scale(0.5,0.5);
                margin-left: -40px;
                margin-top: 4px;
            }
            i{
                font-size: 25px;
                color: grey;
                cursor: pointer;
            }
        }
        .center-content{
            display: flex;
            width: 55%;
            justify-content: space-between;
            align-items: center;
            .child-content{
                .sub-title{
                    font-size: 13px;
                    font-weight: 400;
                }
            }
        }
        .support{
            padding-right: 50px;
            display: flex;
            align-items: center;

            i{
                font-size: 15px;
                margin-right: 15px;
            }
        }
        .right-content{
            width: 25%;
            justify-content: flex-end;
            align-items: center;
            display: flex;
            .account{
                img{
                    height: 30px;
                }
                
            }
            
        }
        .language-vi{
            cursor: pointer;
            opacity: 0.2;
            &.active{
                opacity: 1;
                span{
                    color: peru;
                }
            }
            &:hover{
                opacity: 0.8;
            }
        }
        .language-en{
            margin: 0 10px;
            cursor: pointer;
            opacity: 0.2;
            &.active{
                opacity: 1;
                span{
                    color: blue;
                }
            }
            &:hover{
                opacity: 0.8;
            }
        }
    }
}
.home-header-banner{
    // background-image: url('../../assets/images/header-background.png');
    width: 1650px;
    margin-top: 20px;
    margin: auto ;
    .slick-slider{
        button.slick-next{
            display: none !important;
        }
        button.slick-prev{
            display: none !important;

        }
    }
    
    img{
        cursor: pointer;
        background-size: cover;
        background-position: center;
        height: 685px;
        background-repeat: no-repeat;
        flex-direction: column;
        width: 800px;
        display: flex;
        border-radius: 50px;
        text-align: -webkit-auto;
        
    }
    .content-up{
        background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(255,255,255,0.1));
        height: 65%;
        padding-top: 15px;
        .title1{
            text-align: center;
            font-size: 30px;
            color: aliceblue;
            text-shadow: 1px 1px 1px #333;
            margin-bottom: 5px;
            margin-top: 30px;
        }
        .title2{
            text-align: center;
            font-size: 30px;
            color: aliceblue;
            text-shadow: 1px 1px 1px #333;
            margin-bottom: 15px;
        }
        .search{
            width: fit-content;
            display: flex;
            justify-content: center;
            margin: 0 auto;
            align-items: center;
            padding: 10px;
            border-radius: 25px;
            background: #f7d800;
            i{
                margin: 0 5px;
            }
            input{
                height: 30px;
                width: 300px;
                outline: none;
                background: transparent;
                border: none;
            }
        }
    }
    .content-down{
        height: 35%;
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
        align-items: flex-end;
        background-image: linear-gradient( rgba(255 , 255, 255, 0.1), rgba(255,255,255,0.9), rgba(255,255,255,1));
        .options{
            
            text-align: center;
            display: flex;
            flex-direction: row;
            gap: 50px;
            justify-content: center;
            .options-child{
                width: 100px;

                .icon-child{
                    background: white;
                    width: 50px;
                    height: 50px;
                    padding: 10px;
                    border-radius: 50%;
                    text-align: center;
                    margin: 0 auto;
                    box-shadow: 1px 1px 1px #333;
                    i{
                        color: #49bce2;
                        font-size: 30px;
                    }
                    cursor: pointer;
                }
                .text-child{
                    cursor: pointer;
                    font-size: 15px;
                    font-weight: 500;
                    &:hover{
                        color: #49bce2;
                    }
                }
            }
        }
    }
}
